:root{
    --main-font:'Roboto',sans-serif;
    --main-color: #2e2f42;
    --header-ad:#434455;
    --span-color:#4D5AE5;
    --white-color:#FFFFFF;
    --bg-color:#F4F4FD;
    --footer-color:#E7E9FC;
    }
    
    
                       /* PORTFOLIO */
    body{
        font-family:var(--main-font) ;
        color: var(--main-color);
        font-style: normal;
    
    }
                   /* HEADER */
    .header {
    }
    .header-link {
        font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    .span{color:var(--span-color); }

    .link{text-decoration: none;
        list-style: none;}
    
    .header-nav {
    }
    .header-nav-list {list-style: none;
    }
    .header-nav-item {
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    }
    .header-nav-item-link {
    }

    .header-adres{
       
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-ad);
        
    }
    .header-adres:hover, .header-adres:focus{  
        color:var(--span-color);
    }
    .header-tel:hover, .header-tel:focus {
        color:var(--span-color);
    }
    .header-tel{
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-ad);
    }
    
    /*  Section */  /* PORTFOLIO */
    .section {
    }
    .section-list {
    }
    .section-item {list-style: none;
    }
    .section-button {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--span-color);
        cursor: pointer;
        background: var(--bg-color);
    }
    
    .button {}
    
    .section-list-img {
        list-style: none;
    }
    
    .section-item-img {
    }
    
    .section-item-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-color);
    }
    
    .section-item-paragraph {
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-ad);
    }
    .footer {background: var(--main-color);
    }
    .footer-link{font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--bg-color);}
         
    .span{color:var(--span-color) ;}
    
    .footer-text {font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--footer-color);

    /* INDEX */
    .header {
    }
    .header-link {font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
    }
    .link {text-decoration: none;
        list-style: none;}
    
    .span{color:var(--span-color);}

    .header-nav {
    }
    .header-nav-list {list-style: none;
    }
    .header-nav-item {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;  
        color:var(--main-color);  
    }
    .header-nav-item-link {
    }
    .header-adress {font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--header-ad);}

    .header-adres:hover, .header-adres:focus{  
            color:var(--span-color);
    }
    .header-tel:hover, .header-tel:focus {
            color:var(--span-color);}
    
    .header-tel {font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--header-ad);
    }
    body{font-family:var(--main-font) ;
        color: var(--main-color);
        font-style: normal;
    }

    .hero {background: var(--main-color);
    }
    .hero-text {font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        
        color: var(--white-color);
    }

    
    .hero-button {font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
cursor: pointer;
color: var(--white-color);
background: var(--span-color);
    }
    .button {
    }
    .section {
    }
    .section-list {list-style: none;
    }
    .section-item {
    }
    .section-item-text {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-color);

    }
    .section-item-parag
     {font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--header-ad);
    }
    .sec {
    }
    .sec-text {font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--main-color);
        
    }
    .sec-list {list-style: none;
    }
    .sec-item {
    }
    .team {
    }
    .team-text {font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
        color: var(--main-color);
        
    }
    .team-list {list-style: none;
    }
    .team-item {
    }
    .team-item-text {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-color);

    }
    .team-item-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        color: var(--header-ad);
    }

                
               /* FOOTER */
    .footer {background: var(--main-color);
    }
    .footer-link{font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--bg-color);}
         
    .span{color:var(--span-color) ;}
    .footer-text {font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--footer-color);
    }